.url-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12em;
  grid-auto-rows: 12em;
}

.url {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  background-color: #FFF;
}
